<h2>Lista de Solicitudes</h2>
<button class="nueva-solicitud" (click)="irANuevaSolicitud()">Nueva Solicitud</button>

<table class="solicitudes-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Monto</th>
      <th>Estado</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solicitud of solicitudes">
      <td>{{ solicitud.id }}</td>
      <td>{{ solicitud.nombre }}</td>
      <td>{{ solicitud.email }}</td>
      <td>{{ solicitud.monto }}</td>
      <td>{{ solicitud.estado }}</td>
      <td>
        <button class="editar" (click)="irAEditar(solicitud.id!)">Editar</button>
      </td>
      <td>
        <button class="eliminar" (click)="deleteSolicitud(solicitud.id!)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>