<h2>Crear Nueva Solicitud</h2>

<form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
  <label>
    Nombre:
    <input formControlName="nombre" required />
    <small *ngIf="solicitudForm.get('nombre')?.invalid && solicitudForm.get('nombre')?.touched">
      ⚠️ Nombre es obligatorio (mínimo 3 caracteres).
    </small>
  </label>
  <br>
  
  <label>
    Email:
    <input formControlName="email" type="email" required />
    <small *ngIf="solicitudForm.get('email')?.invalid && solicitudForm.get('email')?.touched">
      ⚠️ Ingresa un correo válido.
    </small>
  </label>
  <br>

  <label>
    Monto:
    <input type="number" formControlName="monto" required min="1" />
    <small *ngIf="solicitudForm.get('monto')?.invalid && solicitudForm.get('monto')?.touched">
      ⚠️ El monto debe ser mayor a 0.
    </small>
  </label>
  <br>

  <label>
    Estado:
    <select formControlName="estado">
      <option value="Aprobado">Aprobado</option>
      <option value="Preaprobado">Preaprobado</option>
      <option value="Rechazado">Rechazado</option>
      <option value="Cancelado">Cancelado</option>
      <option value="En análisis">En Análisis</option>
    </select>
  </label>
  <br>

  <button type="submit" [disabled]="solicitudForm.invalid">Crear Solicitud</button>
</form>