<h2>Actualización de la Solicitud</h2>
<form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
  <label>
    Nombre:
    <input formControlName="nombre" />
  </label>
  <br>
  <label>
    Email:
    <input formControlName="email" />
  </label>
  <br>
  <label>
    Monto:
    <input type="number" formControlName="monto" />
  </label>
  <br>
  <label>
    Estado:
    <select formControlName="estado">
      <option value="Aprobado">Aprobado</option>
      <option value="Preaprobado">Preaprobado</option>
      <option value="Rechazado">Rechazado</option>
      <option value="Cancelado">Cancelado</option>
      <option value="En análisis">En Análisis</option>
    </select>
  </label>
  <br>
  <button type="submit" [disabled]="solicitudForm.invalid">Actualizar Solicitud</button>
</form>